# IntelliJ
/out/
*.ipr
*.iws
*.iml
/.idea/

# VS Code
/.vscode/

# Gradle
**/build/
**/.gradle/

# Forge/Minecraft runtime
**/run/
**/run-data/
/logs/
/crash-reports/

# other
/code-review*.md
/review-*.md
